html,
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding-top: 70px;
    position: relative;
    font-family: 'Helvetica Neue', sans-serif; 
    background-color: #e6b910;
}

.main-nav {
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* ---LOGO--- */
.main-nav .logo {
    flex: 0 0 auto;
}

.main-nav .logo img {
    padding: 10px;
    max-width: 100%;
    vertical-align: top;
}

.main-nav nav {
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    align-items: center;
}

.main-nav nav ul {
    padding: 0;
    margin: 0;
    text-align: right;
    width: 100%;
}

.main-nav nav .nav-item {
    display: inline-block;
}

.main-nav nav .nav-item a {
    text-decoration: none;
    padding-left: 20px;
    color: black;
}

/* work with sections*/
main .content-section {
    padding: 50px;
}

.section-title {
    widows: 100%;
    text-align: center;
    width: 100%;
    padding: 30px;
}

.h1 {
    font-size: 50px;
    margin-top: 10px;
}

.content {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-start;
}

/* Gallery with posts */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: center;
    width: 300px;
    background-color: whitesmoke;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

/* Footer */
.footer {
    widows: 100%;
    text-align: center;
    padding: 16px;
    background: white;
}

/* Responsive layout */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}