html,
body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    padding-top: 70px;
    position: relative;
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1;
    background-image: url('../images/contact.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.main-nav {
    display: flex;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* ---LOGO--- */
.main-nav .logo {
    flex: 0 0 auto;
}

.main-nav .logo img {
    padding: 10px;
    max-width: 100%;
    vertical-align: top;
}

.main-nav nav {
    flex: 1 1 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.main-nav nav ul {
    padding: 0;
    margin: 0;
    text-align: right;
    width: 100%;
}

.main-nav nav .nav-item {
    display: inline-block;
}

.main-nav nav .nav-item a {
    text-decoration: none;
    padding-left: 20px;
    color: black;
}

/* work with sections*/
main .content-section {
    padding: 50px;
}

.h1 {
    line-height: 1;
    text-align: right;
    margin-top: 80px;
    font-size: 100px;
}

.section-body {
    line-height: 1;
    text-align: right;
    font-size: 25px;
}

/* Footer */
.footer {
    widows: 100%;
    text-align: center;
    padding: 16px;
    background: #ddd;
}

/* Responsive layout */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}